.header {
  background: white;
  width: 100%;
  padding: 0px 10%;
  display: flex;
  align-items: center;
  height: 59px;
  transition: all .2s linear;
  position: relative;
  z-index: 1;
}

.icon-container {
  height: 24px;
  transition: all .2s linear;
  display: flex;
  align-items: center;
}

.icon-container>.icon {
  margin-right: 5px;
}

.icon-container>.text {
  vertical-align: middle;
  font-size: 22px;
  transition: all .2s linear;
}

.header-seperation {
  flex: 1;
}


/* fixed 时候的样式调整 */

.fixed.header {
  position: fixed;
  height: 53px;
  box-shadow: 0px 2px 5px 0 #ddd;
}

.fixed.header .icon-container {
  height: 20px;
}

.fixed.header .text {
  font-size: 20px;
}

.placeholder {
  height: 59px;
  width: 100%;
}