.search-container {
  display: flex;
  align-items: center;
  width: 520px;
  height: 53px;
  padding: 0 0 0 10px;
  border: 1px solid rgba(0 0 0 .3 / 30%);
  box-shadow: 0 1px 5px rgb(0 0 0 / 30%);
  border-radius: 24px;
}

.small {
  height: 40px;
  border-bottom: 1px solid rgb(0 0 0 / 30%);
  box-shadow: none;
  border-radius: 0;
}

.input-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.input {
  border: none;
  flex: 1;
  font-size: 16px;
  line-height: 22px;
}

.input:focus {
  outline: none;
}