.search-container {
  display: flex;
  align-items: center;
  width: 520px;
  height: 53px;
  padding: 0 0 0 10px;
  border: 1px solid rgba(0 0 0 .3 / 30%);
  box-shadow: 0 1px 5px rgb(0 0 0 / 30%);
  border-radius: 24px;
  position: relative;
}

.small {
  height: 40px;
  border-bottom: 1px solid rgb(0 0 0 / 30%);
  box-shadow: none;
  border-radius: 0;
}

.input-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.input {
  border: none;
  flex: 1;
  font-size: 16px;
  line-height: 22px;
}

.input:focus {
  outline: none;
}

.suggest {
  position: absolute;
  z-index: 20;
  top: 100%;
  left: 12px;
  right: 12px;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  overflow: hidden;
}

.suggest-item {
  background: white;
  padding: 10px 20px;
  border-bottom: 0.5px solid #eee;
  transition: all .2s linear;
  cursor: pointer;
}

.suggest-item:hover,
.suggest-item.active {
  background: #eee;
}

.suggest-item .title {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggest-item .extra {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  color: #666;
}